.wrapper {
  position: relative;

  &:hover {
    .img {
      transform: scale(1.05);
    }

    .info {
      transform: translateY(300%);
    }
    .feature {
      left: 0;
    }
  }
}

.image {
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  max-height: 185px;
  object-fit: cover;
  transition: transform 0.6s ease;

  @media screen and (min-width: 490px) {
    max-height: 300px;
  }

  @media screen and (min-width: 768px) {
    max-width: 352px;
    max-height: 220px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 392px;
    max-height: 260px;
  }
}

.body {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  max-width: 236px;
  width: 100%;
  background-color: var(--primary-color);
  padding: 8px 0;

  @media screen and (min-width: 768px) {
    max-width: 300px;
    padding: 13px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 20px 0;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      top: 20px;
      left: 0;
      bottom: 20px;
      background-color: var(--accent-color);
    }
  }
}

.info,
.feature {
  padding: 0 12px;
  transition:
    transform 0.6s ease,
    left 0.6s ease;

  @media screen and (min-width: 1280px) {
    padding: 0 22px;
  }
}

.feature {
  position: absolute;
  top: 20px;
  left: -100%;
}

.title {
  font-family: 'Cormorant SC', serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.subtitle {
  font-size: 8px;
  font-weight: 700;
  color: var(--accent-color);
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
