[data-theme='ligth'] {
  --button-filter-hover: rgba(18, 18, 18, 0.05);
}

[data-theme='dark'] {
  --button-filter-hover: rgba(205, 205, 205, 0.05);
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  max-width: 280px;
  padding: 120px 20px;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 10;
  transition: transform 0.5s ease;

  @media screen and (min-width: 768px) {
    max-width: 492px;
    padding: 180px 40px;
  }

  &.active {
    transform: translateX(-100%);
  }
}

.body {
  max-width: 280px;
  height: 100%;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media screen and (min-width: 768px) {
    max-width: 320px;
    max-height: 535px;
  }
}

.years {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  & svg {
    flex-shrink: 0;
    fill: var(--secondary-gray);
  }

  & input {
    max-width: 67px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -10px;
  margin-top: auto;
}

.button {
  padding: 6px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  transition: background-color 0.2s ease;

  svg {
    fill: var(--primary-light-gray);
  }

  &:hover {
    background-color: var(--button-filter-hover);
  }
}

.close {
  padding: 2px;
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    fill: var(--primary-light-gray);
  }

  @media screen and (min-width: 768px) {
    top: 60px;
    right: 100px;
  }
}
