.label {
  position: relative;
  cursor: pointer;
  display: block;

  & + .label {
    margin-top: 9px;
  }
}

.title {
  font-family: 'Cormorant SC', serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .body {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
    margin-bottom: 36px;
  }

  &:checked ~ .decore::before {
    transform: rotate(0);
  }
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.decore {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2px;
  right: -2px;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 1px;
    border-radius: 2px;
    background-color: var(--primary-light-gray);
  }

  &::after {
    top: 9px;
  }

  &::before {
    top: 9px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
  }
}
