.wrapper {
  & + .wrapper {
    margin-top: 27px;
  }
}

.button {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0;

  & + .button {
    margin-top: 9px;
  }
}

.title {
  font-family: 'Cormorant SC', serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 0;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.main {
  padding: 20px 0 5px;
}

.decore {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: -9px;

  @media screen and (min-width: 768px) {
    right: -2px;
  }

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    border-radius: 2px;
    background-color: var(--primary-light-gray);

    @media screen and (min-width: 768px) {
      width: 16px;
    }
  }

  &::after {
    top: 9px;
  }

  &::before {
    top: 9px;
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
  }
}

.active {
  .body {
    max-height: 1000px;
    overflow: visible;
  }

  .decore::before {
    transform: rotate(0);
  }
}
