.wrapper {
  margin-bottom: 40px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat((2, 1fr));
    grid-gap: 24px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat((3, 1fr));
    grid-gap: 32px;
  }
}

.placeholder {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat((2, 1fr));
    grid-gap: 24px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat((3, 1fr));
    grid-gap: 32px;
  }
}

.item {
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--secondary-gray) 50%,
      transparent 100%
    );
    animation: load 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
